<%-include('../cabecalho.ejs')%>    
    <form method="post">
        <input type="text" name="txtPesquisa" placeholder="Pesquisar">
        <input type="submit" value="Pesquisar">
    </form>
    <br>
    <table>
        <tr>
            <th>ID</th>
            <th>NOME</th>
            <th>E-MAIL</th>
            <th>FOTO</th>
            <th>DELETAR</th>
            <th>EDITAR</th>
        </tr>
        <%for(usuario of Usuarios){%>
            <tr>
                <td><%=usuario._id%></td>
                <td><%=usuario.nome%></td>
                <td><%=usuario.email%></td>
                <td><img class="foto" src="/fotos/<%=usuario.foto%>"/></td>
                <td><a href="/del/<%=usuario._id%>"><img src="delete.png" class="foto"></a></td>
                <td><a href="/edt/<%=usuario._id%>">Editar</td>
            </tr>
        <%}%>
    </table>
<%-include('../rodape.ejs')%>    
